<!DOCTYPE html>
<html>
<head>
    {include file="public/head"}
</head>
<body>
    <form class="layui-form" style="width: 90%;padding-top: 20px;">
        <div class="layui-form-item">
            <label class="layui-form-label">分类名称：</label>
            <div class="layui-input-inline">
                <input type="text" name="classify_name" lay-verify="required" class="layui-input" value="{$info.classify_name|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">年级：</label>
            <div class="layui-input-inline">
                <select name="grade">
                    <option value="1" {if isset($info) and $info.grade == 1}selected{/if}>初一</option>
                    <option value="2" {if isset($info) and $info.grade == 2}selected{/if}>初二</option>
                    <option value="3" {if isset($info) and $info.grade == 3}selected{/if}>初三</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">成绩类型：</label>
            <div class="layui-input-inline">
                <select name="type">
                    <option value="0" {if isset($info) and $info.type == 0}selected{/if}>数字</option>
                    <option value="1" {if isset($info) and $info.type == 1}selected{/if}>合格</option>
                    <option value="2" {if isset($info) and $info.type == 2}selected{/if}>其他</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">包含课程：</label>
            <div class="layui-input-block">
                <input type="text" id="course" class="layui-input" value="{$info.course.course_title|default=''}" lay-verify="required" readonly />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <textarea  name="remark" class="layui-textarea">{$info.remark|default=''}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" name="id" value="{$info.classify_id|default=0}">
                <input type="hidden" name="course" value="{$info.course.id|default=''}">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="addForm">保存</button>
            </div>
        </div>
    </form>
</body>
</html>
{include file="public/script"}
<script src="/static/admin/js/module/tableSelect.js" type="text/javascript"></script>
<script>
    var ifarme_name=parent.layer.getFrameIndex(window.name);

    layui.use(['laydate','form','layer'], function(){
        var form = layui.form,layer=layui.layer,tableSelect=layui.tableSelect;
        tableSelect.render({
            elem: '#course',	//定义输入框input对象
            checkedKey: 'course_id', //表格的唯一建值，非常重要，影响到选中状态 必填
            searchKey: 'title',	//搜索输入框的name值 默认keyword
            searchPlaceholder: '课程名称搜索',	//搜索输入框的提示文字 默认关键词搜索
            table: {	//定义表格参数，与LAYUI的TABLE模块一致，只是无需再定义表格elem
                url:"{:url('getCourse')}",
                cols: [[
                    {field:'box',type:'checkbox'},
                    {field:'course_name',title:'课程'},
                    {field:'type',title:'成绩类型'},
                    {field:'total_points',title:'总分'},
                ]]
            },
            done: function (elem, data) {
                let selectData=data.data;
                if(!selectData.length){
                    return false;
                }
                var title = [],ids = [];
                for(var i in selectData){
                    title.push(selectData[i].course_name);
                    ids.push(selectData[i].course_id);
                }
                elem.val(title.join());
                $('input[name=course]').val(ids.join());
            }
        });
        //监听提交
        form.on('submit(addForm)', function(data) {
            var jdata=data.field;
            //console.log(jdata);return !1;
            $.post("{:url('classifyEdit')}",jdata,function(redata){
                if(redata.code==0){
                    //console.log(redata);return !1;
                    layer.msg(redata.msg,{icon:1,title:site_name,end:function(){
                            parent.location.reload();
                            parent.layer.close(ifarme_name);
                        }});
                }else{
                    layer.msg(redata.msg,{icon:2,title:site_name});
                }
            });
            return false;
        });

    });
</script>