<!DOCTYPE html>
<html>
<head>
    {include file="public/head"}
</head>
<body>
<div class="main-layout " >
    <!--顶部-->
    {include file="public/top"}
    <!--左侧导航-->
    {include file="public/left"}
    <div class="page-content-wrap">
            <table  class="layui-table" lay-filter="data-table">
                <thead>
                <tr>
                    <th lay-data="{field:'exam_name',width:200}">类型名称</th>
                    <th lay-data="{field:'grade',width:100}">年级</th>
                    <th lay-data="{field:'term',width:100}">学期</th>
                    <th lay-data="{field:'start_time',width:120}">开始日期</th>
                    <th lay-data="{field:'end_time'}">结束日期</th>
                    <th lay-data="{field:'status'}">状态</th>
                    <th lay-data="{field:'remark'}">备注</th>
                    <th lay-data="{field:'tool',width:120}">操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="data" id="val" key="k"}
                <tr>
                    <td>{$val.exam_name}</td>
                    <td>{$grade[$val.grade]}</td>
                    <td>{$val.term==1?'上学期':'下学期'}</td>
                    <td>{$val.start_time}</td>
                    <td>{$val.end_time}</td>
                    <td>{$val.status?'启用':'禁用'}</td>
                    <td>{$val.remark}</td>
                    <td>
                        <button class="layui-btn layui-btn-xs layui-btn-normal edit-btn"  data-url="{:url('examEdit')}" data-id="{$val.exam_id}"><i class="layui-icon layui-icon-edit"></i></button>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
    </div>
</div>
</body>
</html>
<script type="text/html" id="class-btn">
    <button class="layui-btn layui-btn-sm edit-btn"  data-url="{:url('examEdit')}">添加类型</button>
</script>
{include file="public/script"}
<script>

    layui.use(['table','form'],function () {
        let table=layui.table,form=layui.form;

        table.init('data-table', {
            height: "full-115" //设置高度
            ,limit: '{$data|count}',
            toolbar:"#class-btn",
            //工具栏，filter=》筛选，exports=>导出，print=》打印
            defaultToolbar:[]
        });

    });



</script>