<!DOCTYPE html>
<html>
<head>
    {include file="public/head"}
    <style>
        #imgs-show #upload-images-list img{max-width: 20%;max-height: 100px;}
    </style>
</head>
<body>
    <div class="wrap-container">
        <ul class="layui-tab-title">
            <li><a href="{:url('admin/Sale/coupon')}">列表</a></li>
            <li class="layui-this">编辑</li>
        </ul>
        <form class="layui-form" style="width: 90%;padding-top: 20px;">
            <div class="layui-form-item" style="width: 100%">
                <label class="layui-form-label">名称：</label>
                <div class="layui-input-block">
                    <input type="text" name="coupon_name"  lay-verify="required" class="layui-input" >
                </div>
            </div>
            <div class="layui-form-item" >
                <label class="layui-form-label">总数：</label>
                <div class="layui-input-inline">
                    <input type="text" name="amount"  lay-verify="number" class="layui-input" value="-1">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    优惠券可领取总数量,负数为不限量
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">有效日期：</label>
                <div class="layui-input-inline">
                    <input type="text" name="validity_date" class="layui-input" id="validity_date" />
                </div>
                <div class="layui-form-mid layui-word-aux">
                    优惠券有效日期，默认不限期限。开始日为0点0分0秒，结束日为23点59分59秒
                </div>
            </div>
            <div class="layui-form-item" >
                <label class="layui-form-label">使用期：</label>
                <div class="layui-input-inline">
                    <input type="text" name="validity_time"  lay-verify="number" class="layui-input" value="0">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    单位：天。如：3，即领取后3天内使用。默认0，不限制使用期限
                </div>
            </div>
            <div class="layui-form-item" >
                <label class="layui-form-label">订单金额：</label>
                <div class="layui-input-inline">
                    <input type="text" name="need_money"  lay-verify="number" class="layui-input" value="0">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    单位：元。满足需求（满100元）。默认0，无条件使用
                </div>
            </div>
            <div class="layui-form-item" style="width: 25%;">
                <label class="layui-form-label">会员专属：</label>
                <div class="layui-input-block">
                    <select name="member_level">
                        <option value="0">选择专属会员等级</option>
                        {volist name="member_level" id="val"}
                        <option value="{$val.level_id}">{$val.level_name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-form-item" >
                <label class="layui-form-label">立减金额：</label>
                <div class="layui-input-inline">
                    <input type="text" name="sale_money"  lay-verify="required|number" class="layui-input" placeholder="￥">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    优惠金额，单位：元。
                </div>
            </div>
            <div class="layui-form-item" >
                <label class="layui-form-label">领取数量：</label>
                <div class="layui-input-inline">
                    <input type="text" name="get_amount"  lay-verify="number" class="layui-input" value="1">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    限制领取数量：0，不限制；默认1，只能领取一张
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="addForm">保存</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
{include file="public/script"}
<script>

    //Demo
    layui.use(['laydate','form','layer'], function(){
        var form = layui.form,layer=layui.layer;
        var laydate=layui.laydate;
        //console.log(laydate);
        //日期插件
        laydate.render({
            elem: '#validity_date',
            type:'date',
            range:"_"
        });

        //监听提交
        form.on('submit(addForm)', function(data) {
            var jdata=data.field;
            //console.log(jdata);return !1;
            $.post("{:url('admin/Sale/couponSave')}",jdata,function(redata){
                if(redata.code==0){
                    layer.msg(redata.msg,{icon:1,title:site_name,end:function(){

                            var url="/admin/Sale/coupon.html?time={:time()}";
                            parent.$('.layui-show .iframe').attr('src',url);
                            parent.$('.layui-layer-shade,.layui-layer-iframe').remove();
                        }});
                }else{
                    layer.msg(redata.msg,{icon:2,title:site_name});
                }
            });
            return false;
        });

    });
</script>