<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        var url='{$info.url|default=""}';
        if(url != ""){
            location.href=url;
        }
    </script>
    <meta charset="UTF-8">
    <title>预览</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/admin.css"/>
    <style>
        div.title{text-align: center}
        div.content{padding: 20px;}
    </style>
</head>
<body>
<div class="title">
    <h2>{$info.title}</h2>
    <span>{$info.create_time|date='Y年m月d日'}</span>
</div>
<div class="content">
    {$info.detail|raw}
</div>
</body>
</html>
