<!DOCTYPE html>
<html>
<head>
    {include file="public/head"}
</head>
<body>
<div class="main-layout " >
    <!--左侧导航-->
    {include file="public/top"}
    <!--顶部-->
    {include file="public/left"}
    <div class="page-content-wrap">
        <ul class="layui-tab-title">
            <li><a href="{:url('batch')}">列表</a></li>
            <li class="layui-this">编辑</li>
        </ul>
            <form class="layui-form" style="width: 90%;padding: 20px 0 80px;">
                <div class="layui-form-item">
                    <label class="layui-form-label">批次名称：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title"  lay-verify="required"  autocomplete="off" class="layui-input" value="{$info.title|default=''}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">状态：</label>
                    <div class="layui-input-inline">
                        <input type="checkbox" name="status" lay-skin="switch" lay-filter="is_courseware" lay-text="使用|禁用" value="1" {if !isset($info) or $info.status }checked{/if} />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">备注：</label>
                    <div class="layui-input-block">
                        <textarea name="remark" class="layui-textarea">{$info.remark|default=''}</textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="hidden" name="id" value="{$info.batch_id|default=''}">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="addForm">保存</button>
                    </div>
                </div>
            </form>
    </div>
</div>
</body>
</html>
{include file="public/script"}
<script>

    layui.use(['form','layer'], function(){
        var form = layui.form,layer=layui.layer;
        //监听提交
        form.on('submit(addForm)', function(data) {
            var jdata=data.field;
            //console.log(jdata);return !1;
            $.post("{:url('batchEdit')}",jdata,function(redata){
                if(redata.code==0){
                    layer.msg(redata.msg,{icon:1,title:site_name,end:function(){
                            location.href="{:url('batch')}";
                        }});
                }else{
                    layer.msg(redata.msg,{icon:2,title:site_name});
                }
            });
            return false;
        });

    });

</script>