<!DOCTYPE html>
<html>
<head>
    {include file="public/head"}
</head>
<body>
<div class="main-layout " >
    <!--顶部-->
    {include file="public/top"}
    <!--左侧导航-->
    {include file="public/left"}
    <div class="page-content-wrap">
            <table  class="layui-table" lay-filter="data-table">
                <thead>
                <tr>
                    <th lay-data="{field:'batch_id',width:60}">ID</th>
                    <th lay-data="{field:'title',width:260}">批次</th>
                    <th lay-data="{field:'status',width:100}">状态</th>
                    <th lay-data="{field:'zhiyuan',width:100}">志愿</th>
                    <th lay-data="{field:'remark'}">备注</th>
                    <th lay-data="{field:'tool',width:120}">操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="data" id="val" key="k"}
                <tr>
                    <td>{$val.batch_id}</td>
                    <td>{$val.title}</td>
                    <td>{$val.status?'<span class="lay-state">使用</span>':'禁用'}</td>
                    <td>
                        <button class="layui-btn layui-btn-xs layui-btn-normal open-btn"  data-url="{:url('volunteer')}" data-id="{$val.batch_id}" data-title="志愿管理">
                        志愿管理
                        </button>
                    </td>
                    <td>{$val.remark}</td>
                    <td>
                        <button class="layui-btn layui-btn-xs layui-btn-normal edit-btn"  data-url="{:url('batchEdit')}" data-id="{$val.batch_id}"><i class="layui-icon layui-icon-edit"></i></button>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
    </div>
</div>
</body>
</html>
<script type="text/html" id="class-btn">
    <button class="layui-btn layui-btn-sm edit-btn"  data-url="{:url('batchEdit')}">添加批次</button>
</script>
{include file="public/script"}
<script>

    layui.use(['table','form'],function () {
        let table=layui.table,form=layui.form;

        table.init('data-table', {
            height: "full-115" //设置高度
            ,limit: '{$data|count}',
            toolbar:"#class-btn",
            //工具栏，filter=》筛选，exports=>导出，print=》打印
            defaultToolbar:[],
        });

    });



</script>