<!DOCTYPE html>
<html>
<head>
    {include file="public/head"}
    <style>
        .lay-green{color:red;}
    </style>
</head>
<body>
<div class="main-layout " >
    <!--顶部-->
    {include file="public/top"}
    <!--左侧导航-->
    {include file="public/left"}
    <div class="page-content-wrap">
        <blockquote class="layui-elem-quote">
            <div class="layui-word-aux">
                此处课程会在志愿填报成绩时显示填写。
            </div>
        </blockquote>
            <table  class="layui-table" lay-filter="data-table">
                <thead>
                <tr>
                    <th lay-data="{field:'course_name',width:200}">课程</th>
                    <th lay-data="{field:'type',width:120}">成绩类别</th>
                    <th lay-data="{field:'total_points',width:100}">满分</th>
                    <th lay-data="{field:'is_total',width:100}">计入总分</th>
                    <th lay-data="{field:'remark'}">备注</th>
                    <th lay-data="{field:'tool',width:120}">操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="data" id="val" key="k"}
                <tr>
                    <td>{$val.c.course_name}</td>
                    <td>{$val.c.type}</td>
                    <td>{$val.c.total_points}</td>
                    <td>{$val.is_total?'<span class="lay-green">是</span>':"否"}</td>
                    <td>{$val.c.remark}</td>
                    <td>
                        <button class="layui-btn layui-btn-xs layui-btn-danger del-btn" data-id="{$val.id}" data-url="{:url('del')}" title="删除"><i class="layui-icon layui-icon-delete"></i></button>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
    </div>
</div>
</body>
</html>
<script type="text/html" id="class-btn">
    <button class="layui-btn layui-btn-sm open-btn"  data-url="{:url('courseAdd')}" data-width="460" data-height="320">追加课程</button>
</script>
{include file="public/script"}
<script>

    layui.use(['table','form'],function () {
        let table=layui.table,form=layui.form;

        table.init('data-table', {
            height: "full-115" //设置高度
            ,limit: '{$data|count}',
            toolbar:"#class-btn",
            //工具栏，filter=》筛选，exports=>导出，print=》打印
            defaultToolbar:[],
            //导出文件时的文件名
            //title:'课程表',
        });

    });



</script>