<!DOCTYPE html>
<html>
<head>
    {include file="public/head"}
</head>
<body>
    <form class="layui-form" style="width: 90%;padding-top: 20px;">
        <div class="layui-form-item">
            <label class="layui-form-label">选择课程：</label>
            <div class="layui-input-inline">
                <select name="course_id" >
                    {volist name="course" id="vo"}
                    <option value="{$vo.course_id}">{$vo.course_name}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">计入总分：</label>
            <div class="layui-input-inline">
                <input type="checkbox" name="is_total" lay-skin="switch" lay-filter="is_total" lay-text="是|否" value="1"  />
            </div>
            <div class="layui-form-mid layui-word-aux">计入总分的课程分数会统计总分进行排名</div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="addForm">保存</button>
            </div>
        </div>
    </form>
</body>
</html>
{include file="public/script"}
<script>
    var ifarme_name=parent.layer.getFrameIndex(window.name);

    layui.use(['form','layer'], function(){
        var form = layui.form,layer=layui.layer;

        //监听提交
        form.on('submit(addForm)', function(data) {
            var jdata=data.field;
            //console.log(jdata);return !1;
            $.post("{:url('courseAdd')}",jdata,function(redata){
                if(redata.code==0){
                    layer.msg(redata.msg,{icon:1,title:site_name,end:function(){
                            parent.location.reload();
                            parent.layer.close(ifarme_name);
                        }});
                }else{
                    layer.msg(redata.msg,{icon:2,title:site_name});
                }
            });
            return false;
        });

    });
</script>