<!DOCTYPE html>
<html>
<head>
	{include file="public/head"}
</head>
<body>
	<div class="layui-form" style="width: 90%;padding-top: 20px;">
		<div class="layui-form-item" >
			<label class="layui-form-label">项目名称：</label>
			<div class="layui-input-block">
				<input type="text" name="project_name" lay-verify="required"  class="layui-input" value="{$info.project_name|default=''}">
			</div>
		</div>
		<div class="layui-form-item" >
			<label class="layui-form-label">类型：</label>
			<div class="layui-input-inline">
				<select name="type">
                    {if isset($info) }
                    {if $info.type==0 }
					<option value="0" selected>扣减</option>
                    {else /}
                    <option value="0">扣减</option>
                    {/if}
                    {if $info.type==0 }
                    <option value="1" selected>奖励</option>
                    {else /}
                    <option value="1">奖励</option>
                    {/if}
                    {else /}
                    <option value="0">扣减</option>
                    <option value="1">奖励</option>
                    {/if}
				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
                <input type="hidden" name="id" value="{$info.id|default=''}">
				<button class="layui-btn layui-btn-normal" lay-submit lay-filter="addForm">保存</button>
			</div>
		</div>
	</div>

</body>
</html>
{include file="public/script"}
<script>
    //Demo
    layui.use(['form','layer'], function(){
        var form = layui.form,layer=layui.layer;
        //监听提交
        form.on('submit(addForm)', function(data) {
            var jdata=data.field;
            $.post("{:url('projectEdit')}",jdata,function(redata){
                if(redata.code==0){
                    layer.msg(redata.msg,{icon:1,title:site_name,end:function(){
                            var url="{:url('project')}?time={:time()}";
                            parent.$('.layui-show .iframe').attr('src',url);
                            parent.$('.layui-layer-shade,.layui-layer-iframe').remove();
                        }});
                }else{
                    layer.msg(redata.msg,{icon:2,title:site_name});
                }
            });
            return false;
        });

    });
</script>