<!DOCTYPE html>
<html>
<head>
	{include file="public/head"}
</head>
<body>
<div class="main-layout " >
    <!--左侧导航-->
    {include file="public/top"}
    <!--顶部-->
    {include file="public/left"}
	<div class="page-content-wrap">
        <div class="layui-tab-item layui-show layui-form" style="width: 90%;padding-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">ID：</label>
                <div class="layui-input-inline">
                    <input type="text" disabled autocomplete="off" class="layui-input layui-disabled" value="1">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">手机：</label>
                <div class="layui-input-inline">
                    <input type="text" disabled class="layui-input layui-disabled" value="{$info.mobile}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">姓名：</label>
                <div class="layui-input-inline">
                    <input type="text" name="username" required  lay-verify="required"  autocomplete="off" class="layui-input" value="{$info.nickname}">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="adminInfo">保存</button>
                </div>
            </div>
        </div>
	</div>
</div>
</body>
</html>
{include file="public/script"}
<script>
    //Demo
    layui.use(['form'], function(){
        var form = layui.form;
        form.render();
        //监听信息提交
        form.on('submit(adminInfo)', function(data){
            var data=data.field;
            //console.log(data);
            $.post("{:url('info')}",data,function(redata){
                if(redata.code==0){
                    layer.msg(redata.msg,{icon:1,title:site_name,end:function(){
                            location.reload();
                        }});
                }else{
                    layer.msg(redata.msg,{icon:2,title:site_name});
                    console.log(redata);
                }
            });
            return false;
        });
    });
</script>