<!DOCTYPE html>
<html class="html">
<head>
    {include file='public/head'}
    {include file='public/script'}
    <!-- 选择插件 -->
    <link rel="stylesheet" href="/static/shop/libs/mobileSelect.css">
    <script src="/static/shop/libs/mobileSelect.min.js"></script>
</head>
<body class="body has_top">
    <div class="headbar xls_grad-3">
        <a href="" class="back">
            <i class="iconfont icon-zuojiantou2"></i>
        </a>
        <span class="title">预约</span>
        <a href="/my_subscribe.html" class="publish title">我的预约</a>
    </div>

    <div class="appoint_form">
        <div class="flex_bet appoint_item">
            <div class="type">预约项目：</div>
            <div class="sel_serve flex_bet" id="selServe">
                <span>选择美容项目</span>
                <i class="iconfont icon-youjiantou"></i>
            </div>
        </div>
        <div class="flex_bet appoint_item">
            <div class="type">预约时间：</div>
            <div class="sel_serve flex_bet" id="selDate">
                <span>选择美容时间</span>
                <i class="iconfont icon-youjiantou"></i>
            </div>
        </div>
        <div class="flex_bet appoint_item">
            <div class="type">预约备注：</div>
            <div class="sel_serve flex_bet">
                <textarea class="textarea ph_gray" placeholder="如有特殊要求,请提前备注说明"></textarea>
            </div>
        </div>
    </div>

    <!--美容项目-->
    <div class="serve_layer">
        <div class="mask"></div>
        <div class="content">
            <div class="head flex_bet">
                <div class="cancel">取消</div>
                <div class="title">选择美容项目</div>
                <div class="affirm">确认</div>
            </div>
            <div class="panel">
                <div class="flex panel_item">
                    <ul class="list flex">
                        {volist name="projects" id="vo"}
                        <li data-id="{$vo.id}" data-item="{$vo.server_name}">{$vo.server_name}</li>
                        {/volist}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <form id="reserve-form">
        <input type="hidden" name="reserve_time" class="reserve-time">
        <input type="hidden" name="servers_ids" class="servers-ids">
        <button type="button" class="xls_grad-3 appoint_btn">立即预约</button>
    </form>
</body>
</html>
<script src="/static/shop/libs/layer/layer.js"></script>
<script type="text/javascript">
    //美容项目选择
    $("#selServe").on("click", function(){
        $(".serve_layer").addClass("show");
    });

    $(".serve_layer .panel").on("click", "li", function(){
        $(this).toggleClass("on");
    });

    //取消选择
    $(".serve_layer").on("click", ".mask, .cancel", function(){
        $(".serve_layer").removeClass("show");
    });

    //确认选择
    $(".serve_layer").on("click", ".affirm", function(){
        var serveArr = [];
        let serverIds=[];
        $(".serve_layer .list li").each(function(){
            if($(this).hasClass("on")){
                serveArr.push($(this).data("item"));
                serverIds.push($(this).data("id"));
            }
        });
        $("#selServe").html(serveArr.join("， "));
        $(".servers-ids").val(serverIds.join(","));
        $(".serve_layer").removeClass("show");
    });


    //美容时间选择
    var selDate = new MobileSelect({
            trigger: '#selDate',
            title: '选择美容时间',
            wheels: [
                {
                    data: {$dates|raw}
                },
                {
                    data:{$times|raw}
                }
            ],
            position: [0, 0],
            callback: function(indexArr, data) {
                let i,value='';
                for(i in data){
                    value+=data[i].value+' ';
                }
                $('.reserve-time').val($.trim(value));
            }
        });
    $(function(){
        $('.appoint_btn').on('click',function(){
            let servers_ids=$('.servers-ids').val();
            if(servers_ids==''){
                layer.msg('请您选择一个预约项目');
                return !1;
            }
            let reserve_time=$('.reserve-time').val();
            if(reserve_time==''){
                layer.msg('请您选择一个预约时间');
                return !1;
            }
            var $this=$(this);
            $this.attr('disabled','disabled').addClass('disabled');
            let remark=$('.textarea').val();
            layer.prompt({
                title: '请输入交易密码',
                formType: 1,
                offset:'3rem',
                cancel:function () {
                    $this.attr('disabled',false).removeClass('disabled');
                },btn2:function () {
                    $this.attr('disabled',false).removeClass('disabled');
                }
                }, function(pass, index) {
                layer.close(index);
                let data = {reserve_time: reserve_time, servers_ids: servers_ids, remark: remark,password:pass};
                $.post("{:url('reserve')}", data, function (redata) {
                    layer.msg(redata.msg);
                    $this.attr('disabled',false).removeClass('disabled');
                });
            });
        });
    });
</script>
