<!DOCTYPE html>
<html>
<head>
	{include file="public/head"}
</head>
<body>
	<div class="layui-form" style="width: 90%;padding-top: 20px;">
		<div class="layui-form-item">
			<label class="layui-form-label">会员昵称：</label>
			<div class="layui-input-block">
				<input type="text" readonly  class="layui-input" value="{$member.nickname|default=$member.realname}">
			</div>
		</div>
		<div class="layui-form-item" style="width: 100%">
			<label class="layui-form-label">选择员工：</label>
			<div class="layui-input-block">
				{volist name="staffs" id="val"}
					<input type="radio" name="staff_id" value="{$val.member_id}" title="{$val.realname}" lay-verify="required" />
				{/volist}
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
                <input type="hidden" name="id" value="{$member.id}">
				<button class="layui-btn layui-btn-normal" lay-submit lay-filter="addForm">保存</button>
			</div>
		</div>
	</div>

</body>
</html>
{include file="public/script"}
<script>

    //Demo
    layui.use(['form','layer'], function(){
        var form = layui.form,layer=layui.layer;
        //监听提交
        form.on('submit(addForm)', function(data) {
            var jdata=data.field;
            $.post("{:url('assignStaff')}",jdata,function(redata){
                if(redata.code==0){
                    layer.msg(redata.msg,{icon:1,title:site_name,end:function(){
                            var url="{:url('index')}?time={:time()}";
                            parent.$('.layui-show .iframe').attr('src',url);
                            parent.$('.layui-layer-shade,.layui-layer-iframe').remove();
                        }});
                }else{
                    layer.msg(redata.msg,{icon:2,title:site_name});
                }
            });
            return false;
        });

    });
</script>