<!DOCTYPE html>
<html>
	<head>
		{include file="public/head"}
	</head>
	<body>
		<div>
			<form class="layui-form" style="width: 90%;padding-top: 20px;">
				<div class="layui-form-item">
					<label class="layui-form-label">卡名称：</label>
					<div class="layui-input-inline">
						<input type="text" name="goods_name" required lay-verify="required" class="layui-input" >
					</div>
				</div>
                <div class="layui-form-item">
                    <label class="layui-form-label">充值金额：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="money" required lay-verify="required|number"  class="layui-input" >
                    </div>
					<div class="layui-form-mid layui-word-aux">
						单位：元
					</div>
                </div>
				<div class="layui-form-item">
					<label class="layui-form-label">返现金额：</label>
					<div class="layui-input-inline">
						<input type="text" name="return_money"  class="layui-input" value="0">
					</div>
                    <div class="layui-form-mid layui-word-aux">
                        单位：元
                    </div>
				</div>
                <div class="layui-form-item" >
					<label class="layui-form-label">返现类型：</label>
					<div class="layui-input-inline">
                        <select name="return_type">
                            <option value="0">立返</option>
                            <option value="1">期返</option>
                        </select>
					</div>
				</div>
                <div class="layui-form-item">
                    <label class="layui-form-label">返现期数：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="return_date"  class="layui-input" value="0">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        每月一期
                    </div>
                </div>
                <div class="layui-form-item" >
                    <label class="layui-form-label">描述说明：</label>
                    <div class="layui-input-block">
                        <textarea name="des" class="layui-textarea"></textarea>
                    </div>
                </div>
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn layui-btn-normal" lay-submit lay-filter="addForm">保存</button>
					</div>
				</div>
			</form>
		</div>
		{include file="public/script"}
		<script>

            layui.use(['form','layer'], function(){
                var form = layui.form,layer=layui.layer;

				//监听提交
				form.on('submit(addForm)', function(data) {
                    var jdata=data.field;
                    $.post("{:url('rechargeAdd')}",jdata,function(redata){
                        if(redata.code==0){
                            layer.msg(redata.msg,{icon:1,title:site_name,end:function(){
                                var url="{:url('recharge')}?time={:time()}";
                                    parent.$('.layui-show .iframe').attr('src',url);
                                    parent.$('.layui-layer-shade,.layui-layer-iframe').remove();
                                }});
                        }else{
                            layer.msg(redata.msg,{icon:2,title:site_name});
                        }
                    });
                    return false;
				});

			});
		</script>
	</body>

</html>