<!DOCTYPE html>
<html>
<head>
    {include file="public/head"}
</head>
<body>
<div class="main-layout " >
    <!--左侧导航-->
    {include file="public/top"}
    <!--顶部-->
    {include file="public/left"}
    <div class="page-content-wrap">
        <!--<blockquote class="layui-elem-quote">
            <div class="layui-word-aux">
                课程名称和排序可直接点击修改。
            </div>
        </blockquote>-->
        <div class="layui-form" id="table-list" lay-filter="lay-form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <input type="text" name="title" class="layui-input" placeholder="课件标题">
                </div>
                <div class="layui-inline">
                    <input type="text" name="course" class="layui-input" placeholder="课程名称">
                </div>
                <div class="layui-inline">
                    <button class="layui-btn" lay-submit lay-filter="lay-search">查找</button>
                </div>
            </div>
            <div id="list-table" lay-filter="user-table">

            </div>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/html" id="tool-bar">
    <button class="layui-btn  layui-btn-normal open-btn " data-url="{:url('coursewareEdit')}" data-title="编辑课件" data-width="560"><i class="layui-icon layui-icon-add-1"></i>添加课件</button>
    <!--<button class="layui-btn layui-btn-normal add-btn"><i class="layui-icon layui-icon-add-1"></i>加入课程</button>-->
</script>
<script type="text/html" id="edit-btn">
    <div class="layui-inline">
        <button class="layui-btn layui-btn-xs layui-btn-normal open-btn" data-id="{{d.id}}" data-url="{:url('coursewareEdit')}" data-title="编辑课件" data-width="560"><i class="layui-icon layui-icon-edit"></i></button>
        <button class="layui-btn layui-btn-xs layui-btn-danger del-btn" data-id="{{d.id}}" data-url="{:url('coursewareDel')}" title="删除"><i class="layui-icon layui-icon-delete"></i></button>
    </div>
</script>
{include file="public/script"}
<script>
    layui.use(['table','form'],function () {
        let table=layui.table,form=layui.form;

        var tableOption={
            elem:"#list-table",
            //异步数据接口
            url:"{:url('courseware')}",
            //高度
            height:"full-210",
            //表格样式line （行边框风格）row （列边框风格）nob （无边框风格）
            skin:'line',
            //额外条件
            //where:{type:""},
            //是否显示工具栏
            toolbar:"#tool-bar",
            //工具栏，filter=》筛选，exports=>导出，print=》打印
            defaultToolbar:de_tool_bar,
            //导出文件时的文件名
            title:'商品列表',
            //表头设置
            cols:[[
                {field:'box',type:'checkbox'},
                {field:'file_name',title:'课件名称'},
                {field:'course_name',title:'课程名称'},
                {field:'teacher',title:'讲师',width:120},
                {field:'url', title: '文件地址', width:200},
                {field:'right', title:'操作',width:100,toolbar:'#edit-btn'},
            ]],
            //分页设置
            page:{
                limit:10,
                prev:"上一页",
                next:"下一页",
                layout:['prev','page','next','skip','count','limit'],
                limits:[10,50,100,200,500]
            },
        };
        tableIns=table.render(tableOption);
        //监听表单提交
        form.on('submit(lay-search)',function (data) {
            let where={where:data.field};
            //console.log(where);
            tableIns.reload({
                where:where,
                page:{
                    curr:1,
                    prev:"上一页",
                    next:"下一页"
                },
            });
            return false;
        });
        $('#table-list').on('click','.add-btn',function () {
            let checkStatus=table.checkStatus("list-table");
            let data=checkStatus.data;
            if(!data.length){
                layer.msg('至少选中一个视频才能加入课程');
            }
            let ids=[],i,id;
            for(i in data){
                ids.push(data[i].id);
            }
            id=ids.join(',');
            layer.open({
                type:2,
                title:"加入课程",
                area:['580px','90%'],
                content:"{:url('addCourse')}?id="+id,
                shadeClose:1
            });
        });
    });

</script>