<!DOCTYPE html>
<html class="html">
<head>
    {include file="public/head"}
    {include file="public/script"}
    <style>
        .tab{width: 1rem;border: 1px solid red;border-radius: 2px;
        text-align: center;}
    </style>
    <link rel="stylesheet" href="/static/shop/css/mescroll.min.css" />
    <script src="/static/shop/js/mescroll.min.js"></script>
</head>
<body>
    <div class="headbar xls_grad-3">
        <a href="javascript:history.back(-1);" class="back">
            <i class="iconfont icon-zuojiantou2"></i>
        </a>
        <span class="title">我的护理</span>
    </div>
    <!--订单列表-->
    <div id="mescroll" class="mescroll">
        <div class="my_order_list" id="list">

        </div>
    </div>
    <!--没有更多了-->
    <div class="toBottom no_more" style="display: none;">
        <span class="span">没有更多了</span>
    </div>
</body>
</html>
<script src="/static/shop/libs/layer/layer.js"></script>
<script>
    //分页参数
    var pages={
        num:1,
        size:6
    };
    //手机分页
    var mescroll = new MeScroll("mescroll", {
        down: {
            auto: true,
            callback: downCallback,
        },
        up: {
            auto: false,
            //isBounce: false,
            callback: upCallback,
            page:pages
        }
    });

    function downCallback(){
        getListDataFromNet(1,pages.size, function(data){
            mescroll.endSuccess();
            setListData(data, false);
            mescroll.lockUpScroll( false );
            $('.toBottom').hide();
        }, function(){
            mescroll.endErr();
            mescroll.lockUpScroll( !0 );
            let obj_str='<div class="order_empty">' +
                '<a href="/goods/index.html"><div class="box">' +
                '<img src="/static/shop/images/no3.png" class="img" />' +
                '<p class="p1">您还没有体验护理产品哦</p>' +
                '<p class="p2">快去看看有哪些想体验的</p>' +
                '</div></a>' +
                '</div>';
            $("#list").empty().append(obj_str);
        });
    }

    function upCallback(page){
        getListDataFromNet(page.num, page.size, function(curPageData){
            mescroll.endSuccess(curPageData.length);
            setListData(curPageData, true);
        }, function(){
            mescroll.endErr();
            $('.toBottom').show();
        });
    }

    function setListData(curPageData,isAppend){
        if (!isAppend) {
            $("#list").empty();
        }
        for (var i = 0; i < curPageData.length; i++) {
            let pd=curPageData[i];
            let comp=pd.get_type?'<p class="tab">赠送</p>':'';
            let obj_str='<div class="item" data-id="'+pd.id+'">' +
                '<div class="flex_bet top">' +
                '<span class="no">订单号 '+pd.orders.order_no+'</span></div>'+
                '<div class="flex_bet center">'+
                '<div class="pic">' +
                '<img src="'+pd.goods.cover+'" class="img"/>' +
                '</div>' +
                '<div class="info flex">' +
                '<h3 class="name over_1">'+pd.goods.goods_name+'</h3>'
                +comp+
                '<div class="flex_bet">' +
                '<div class="price">' +
                '<span class="unit">产品含有次数：'+pd.nursing_num+' 次</span>' +
                '</div>' +
                '<span class="num">购买数量：'+pd.buy_num+'</span>' +
                '</div>' +
                '</div>' +
                '</div>'+'<div class="bottom">' +
                '<div class="sum_price">' +
                '<span class="fl">总次数：</span>' +
                '<span class="fl">'+pd.amount+' 次</span>' +
                '<span class="span">剩余次数：</span>' +
                '<span class="total">'+pd.residue_degree+' 次</span>' +
                '</div></div></div>';
            $("#list").append(obj_str);
        }
    }

    function getListDataFromNet(pageNum,pageSize,successCallback,errorCallback) {
        $.get("{:url('nursing')}",{size:pageSize,page:pageNum},function (res) {
            if(res.code==0){
                var newArr=res.data;
                successCallback&&successCallback(newArr);
            }else{
                errorCallback&&errorCallback();
            }


        });
    }
    $(function(){
        //取消订单
        $('#list').on('click','.item .js-cancel-orders',function () {
            let id=$(this).parents('.item').attr('data-id');
            layer.confirm("订单取消后无法恢复！！！<br />真的要取消订单吗？",{icon:3},function () {
                $.post("{:url('cancelOrder')}",{id:id},function (res) {
                    if(res.code==0){
                        location.reload();
                    }else{
                        layer.msg(res.msg);
                    }
                },"json");
            });

        });

        //再次购买
        $('#list').on('click','.item .js-again-orders',function () {
            let id=$(this).parents('.item').attr('data-id');
            $.post("{:url('againBuy')}",{id:id},function (res) {
                if(res.code==0){
                    location.href='/sale/cart.html';
                }else{
                    layer.msg(res.msg);
                }
            },"json");
        });

        //确认收货
        $('#list').on('click','.item .js-sign-in',function () {
            let id=$(this).parents('.item').attr('data-id');
            let con=layer.confirm("请收到货后，再确认收货！！！",{icon:7},function () {
                layer.close(con);
                layer.prompt({title: '请输入交易密码', formType: 1}, function(pass, index){
                    layer.close(index);
                    $.post("{:url('signFor')}",{id:id,password:pass},function (res) {
                        if(res.code==0){
                            $('.order_status .list .item').removeClass("active");
                            $('.order_status .list .item').each(function () {
                                if($(this).attr('data-value')=="4"){
                                    $(this).addClass('active');
                                }
                            });
                            $(this).addClass("active");
                            type=4;
                            downCallback();
                        }else{
                            layer.msg(res.msg);
                        }
                    },"json");
                });

            });
        });

        //查看物流
        $('#list').on('click','.item .js-show-express',function () {
            let id=$(this).parents('.item').attr('data-id');
            let index=layer.open({
                type:2,
                content:"{:url('showExpress')}?id="+id,
                area: ['100%','100%'],
                shadeClose:1,
                title:false,
                closeBtn:0,
                anim:2
            });
            layer.full(index);
        });

        //删除订单
        $('#list').on('click','.item .js-delete-order',function () {
            let id=$(this).parents('.item').attr('data-id');
            layer.confirm("订单删除后无法查看！！！<br />真的要删除订单吗？",{icon:3},function () {
                $.post("{:url('deleteOrder')}",{id:id},function (res) {
                    if(res.code==0){
                        location.reload();
                    }else{
                        layer.msg(res.msg);
                    }
                },"json");
            });
        });

        //评价订单
        $('#list').on('click','.item .js-comment-order',function () {
            let id=$(this).parents('.item').attr('data-id');
            layer.open({
                type:2,
                content:"{:url('comment')}?id="+id,
                area: ['100%','100%'],
                shadeClose:1,
                title:false,
                closeBtn:0,
                anim:2
            });
        });

        //提醒发货
        $('#list').on('click','.item .js-warn-deliver',function () {
            layer.msg('亲，我们会及时给您发货哦');
        });


        //切换订单状态
        $('.order_status .list').on('click','.item',function () {
            type=$(this).attr('data-value');
            $('.order_status .list .item').removeClass("active");
            $(this).addClass("active");
            downCallback();
        });

        //查看商品详情
        $('#list').on('click','.item .center',function () {
            let id=parseInt($(this).data("id"));
            let type=parseInt($(this).data("type"));
            if(id){
                layer.open({
                    type:2,
                    content:"{:url('goods')}?type="+type+"&id="+id,
                    area: '100%',
                    shadeClose:1,
                    title:false,
                    closeBtn:0,
                    anim:2
                });
            }

        });
    });
</script>