<!DOCTYPE html>
<html>
	<head>
		{include file="public/head"}
		{include file="public/script"}
        <link rel="stylesheet" href="/static/shop/css/mescroll.min.css" />
        <script src="/static/shop/js/mescroll.min.js"></script>
		<style>
            .layui-span{color:#999;}
            .layui-red{color:#FF5722;}
            .layui-blue{color:#01AAED;}
            .layui-green{color:#009688;}
        </style>
	</head>
	<body class="has_top">
		<div class="headbar xls_grad-3">
			<a class="back">
				<i class="iconfont icon-zuojiantou2"></i>
			</a>
			<span class="title">提现记录</span>
		</div>
        <div id="mescroll">
            <div class="integral_list" id="list">

            </div>
        </div>
        <!--没有更多了-->
        <div class="toBottom no_more" style="display: none;">
            <span class="span">没有更多了</span>
        </div>
	</body>
</html>
<script src="/static/shop/libs/layer/layer.js"></script>
<script>
    //分页参数
    var pages={
        num:1,
        size:5
    };
    //手机分页
    var mescroll = new MeScroll("mescroll", {
        down: {
            auto: true,
            callback: downCallback,
        },
        up: {
            auto: false,
            //isBounce: false,
            callback: upCallback,
            page:pages
        }
    });

    function downCallback(){
        getListDataFromNet(1,pages.size, function(data){
            mescroll.endSuccess();
            setListData(data, false);
        }, function(){
            mescroll.endErr();
            let obj_str='<div class="order_empty">' +
                '<div class="box">' +
                '<img src="/static/shop/images/no3.png" class="img" />' +
                '<p class="p1">还没有提现记录哦~</p>' +
                '</div>' +
                '</div>';
            $("#list").empty().append(obj_str);
        });
    }

    function upCallback(page){
        getListDataFromNet(page.num, page.size, function(curPageData){
            mescroll.endSuccess(curPageData.length);
            setListData(curPageData, true);
        }, function(){
            mescroll.endErr();
            $('.toBottom').show();
        });
    }

    function setListData(curPageData,isAppend){
        if (!isAppend) {
            $("#list").empty();
        }
        for (var i = 0; i < curPageData.length; i++) {
            let pd=curPageData[i];
            let t,s,m=(pd.money/100).toFixed(2);
            if(pd.status==0){
                t=createTime(pd.create_time);
                s='<span class="layui-span">待审核</span>';
            }else if(pd.status==1){
                t=createTime(pd.audit_time);
                s='<span class="layui-blue">待转账</span>';
            }else if(pd.status==2){
                t=createTime(pd.success_time);
                s='<span class="layui-green">已到账</span>';
            }else{
                t=createTime(pd.audit_time);
                s='<span class="layui-red">审核被拒</span>';
            }
            let obj_str='<div class="item"><div class="top flex_bet">' +
                '<div class="left">' +
                '<div class="type">'+pd.apply_no+'</div>' +
                '<div class="date">'+t+'</div>' +
                '</div>' +
                '<div class="right">'+
                '<div class="type">'+s+'</div>' +
                '<div class="date">&yen;'+m+'</div>' +
                '</div></div>' +
                '<div class="down layui-red">'+pd.des+'</div></div>';

            $("#list").append(obj_str);
        }
    }

    function getListDataFromNet(pageNum,pageSize,successCallback,errorCallback) {
        $.get("{:url('withdrawLog')}",{size:pageSize,page:pageNum},function (res) {
            if(res.code==0){
                var newArr=res.data;
                successCallback&&successCallback(newArr);
            }else{
                errorCallback&&errorCallback();
            }


        });
    }
    let iframe_index = parent.layer.getFrameIndex(window.name);
    //返回
    $('.back').on('click',function () {
        parent.layer.close(iframe_index);
    });

    //时间戳转日期
    function createTime(v){
        v+='000';
        return new Date(parseInt(v)).toLocaleString()
    }

    Date.prototype.toLocaleString = function() {
        var y = this.getFullYear();
        var m = this.getMonth()+1;
        m = m<10?'0'+m:m;
        var d = this.getDate();
        d = d<10?("0"+d):d;
        var h = this.getHours();
        h = h<10?("0"+h):h;
        var M = this.getMinutes();
        M = M<10?("0"+M):M;
        var S=this.getSeconds();
        S=S<10?("0"+S):S;
        return y+"-"+m+"-"+d;
    };
</script>
