<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>微信支付-支付</title>
    <style>
        .center{
            width: 100%;position: absolute;text-align: center;
            top:0;left:0;right: 0;bottom:0;margin: auto;line-height: 90%;
            height: 20%;
        }
        .center img{max-height: 90%;max-width: 100%;}
    </style>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript">
        //alert('test');
        //调用微信JS api 支付
        function jsApiCall()
        {

            WeixinJSBridge.invoke(
                'getBrandWCPayRequest',
            {$jsApiParameters|raw},
            function(res){
                WeixinJSBridge.log(res.err_msg);
                //alert(res.err_msg);
                //alert(str);
                location.href='/mine.html';
            }
        );
        }

        function callpay()
        {

            if (typeof WeixinJSBridge == "undefined"){
                if( document.addEventListener ){
                    document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
                }else if (document.attachEvent){
                    document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                    document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
                }

            }else{

                jsApiCall();
            }
        }

        callpay();
    </script>
</head>
<body>
<div class="center">
    <img src="/static/shop/images/wxpay.png" >
</div>
</body>
</html>