<!DOCTYPE html>
<html>
<head>
    {include file="public/head"}
    <style>
        .layui-table-img{max-width: 260px;max-height: 100px;cursor:pointer;}
        .layui-layer-content img{max-width: 800px;max-height: 400px;}
    </style>
</head>
<body>
<div class="main-layout " >
    <!--顶部-->
    {include file="public/top"}
    <!--左侧导航-->
    {include file="public/left"}
    <div class="page-content-wrap">
        <blockquote class="layui-elem-quote">
            <div class="layui-word-aux">
                排序值可直接点击修改。
            </div>
        </blockquote>
        <div class="layui-form" id="table-list" lay-filter="lay-form">
            <div id="list-table" lay-filter="user-table">

            </div>
        </div>

    </div>
</div>
</body>
</html>
<script type="text/html" id="pic-tool">
    <img class="layui-table-img" src="{{d.cover}}" alt="{{d.name}}" onclick="showPic(this);">
</script>
<script type="text/html" id="status-btn">
    {{# if(d.status==1){ }}<button class="layui-btn layui-btn-xs layui-btn-normal table-list-status"  data-id="{{d.id}}" data-status="{{d.status}}">显示</button>{{# }else{ }}<button class="layui-btn layui-btn-xs layui-btn-primary table-list-status" data-id="{{d.id}}" data-status="{{d.status}}">隐藏</button>{{# }; }}
</script>
<script type="text/html" id="classify-tool">
    {{# if(d.type == 1){ }}
    轮播广告
    {{# }else if(d.type == 2){ }}
    弹窗广告
    {{# }else{ }}
    页面广告
    {{# }; }}
</script>
<script type="text/html" id="edit-btn">
    <div class="layui-inline">
        <button class="layui-btn layui-btn-xs layui-btn-normal edit-btn" data-id="{{d.id}}" data-url="{:url('bannerEdit')}" title="编辑"><i class="layui-icon layui-icon-edit"></i></button>
        <button class="layui-btn layui-btn-xs layui-btn-danger del-btn" data-id="{{d.id}}" data-url="{:url('delBanner')}" title="删除"><i class="layui-icon layui-icon-delete"></i></button>
    </div>
</script>
<script type="text/html" id="tool-btn">
    <button class="layui-btn layui-btn-sm layui-btn-normal edit-btn" data-url="{:url('bannerEdit')}" ><i class="layui-icon">&#xe654;</i>添加</button>
</script>
{include file="public/script"}
<script>
    layui.use(['table','form'],function () {
        let table=layui.table,form=layui.form;

        var tableOption={
            elem:"#list-table",
            //异步数据接口
            url:"{:url('banner')}",
            //高度
            height:"full-115",
            //表格样式line （行边框风格）row （列边框风格）nob （无边框风格）
            skin:'line',
            //额外条件
            //where:{type:""},
            //是否显示工具栏
            toolbar:"#tool-btn",
            //工具栏，filter=》筛选，exports=>导出，print=》打印
            defaultToolbar:de_tool_bar,
            //导出文件时的文件名
            //title:'资讯列表',
            //表头设置
            cols:[[
                {field:'title',title:'标题',edit:1},
                {field:'cover', title: '图片',toolbar:'#pic-tool', width:300},
                {field:'type', title: '场景',toolbar:'#classify-tool', width:160},
                {field:'link', title: '跳转链接', width:200},
                {field:'sort', title: '排序', width:100, edit:1},
                {field:'status', title: '状态', width:80, toolbar:'#status-btn'},
                {field:'right', title: '操作', width:100,toolbar: '#edit-btn'},
            ]],
            //分页设置
            page:{
                limit:10,
                prev:"上一页",
                next:"下一页",
                layout:['prev','page','next','skip','count','limit'],
                limits:[10,20,30,50]
            },
        };
        tableIns=table.render(tableOption);
        //监听单元格编辑
        table.on('edit(user-table)',function (obj) {
            //console.log(obj);return;
            if(obj.field=='sort'){
                if(!/^\d{1,9}$/.test(obj.value)){
                    layer.alert('排序值只能是数字！');return ;
                }
            }
            $.post("{:url('changeSort')}",{id:obj.data.id,field:obj.field,value:obj.value},function (res) {
                return res;
            });
        });
        //监听表单提交
        form.on('submit(lay-search)',function (data) {
            let where={where:data.field};
            //console.log(where);
            tableIns.reload({
                where:where,
                page:{
                    curr:1,
                    prev:"上一页",
                    next:"下一页"
                },
            });
            return false;
        });
    });

    $(function() {
        //修改状态
        $('#table-list').on('click', '.table-list-status', function() {
            var That = $(this);
            var id = That.attr('data-id');
            let val=parseInt(That.attr('data-status'));
            let value=!val?1:0;

            $.post("{:url('changeSort')}",{id:id,field:'status',value:value},function(redata){
                if(redata.code==0){
                    var txt='';
                    if(redata.data=='1'){
                        txt='显示';
                    }else{
                        txt='隐藏';
                    }
                    That.toggleClass('layui-btn-normal layui-btn-primary').text(txt).attr('data-status',redata.data);
                }else{
                    layer.msg(redata.msg,{title:site_name,icon:2});
                }
            });
        });
    });
    function showPic(obj) {
        var pic_url=$(obj).attr('src');
        parent.layer.open({
            type: 1,
            title: false,
            closeBtn: false,
            //area: 'auto',
            maxWidth:false,
            maxHeight:false,
            //offset:["100px","200px"],
            skin: 'layui-layer-nobg', //没有背景色
            shadeClose: true,
            content: "<img src='"+pic_url+"' style='max-height:600px;max-width: 1000px;'/>"
        });
    }
</script>