<!DOCTYPE html>
<html>
<head>
    {include file="public/head"}
    <style>
        body,html,#list-table{
            margin: 0;padding: 0;height: auto;
        }
    </style>
</head>
<body>

    <div id="list-table" lay-filter="user-table">

    </div>

</body>
</html>
{include file="public/script"}
<script>

    layui.use(['table'],function () {
        let table=layui.table;

        var tableOption={
            elem:"#list-table",
            //异步数据接口
            url:"{:url('share')}",
            //高度
            height:"full-30",
            //表格样式line （行边框风格）row （列边框风格）nob （无边框风格）
            skin:'line',
            //额外条件
            where:{"aid":"{$aid}"},
            //是否显示工具栏
            toolbar:true,
            //工具栏，filter=》筛选，exports=>导出，print=》打印
            defaultToolbar:de_tool_bar,
            //导出文件时的文件名
            title:'文章分享列表',
            //表头设置
            cols:[[
                {field:'title',title:'文章标题'},
                {field:'phone', title: '手机'},
                {field:'create_time', title: '分享日期', width:140},
            ]],
            //分页设置
            page:{
                limit:10,
                prev:"上一页",
                next:"下一页",
                layout:['prev','page','next','skip','count','limit'],
                limits:[10,50,200,1000,5000,10000]
            },
        };
        tableIns=table.render(tableOption);
    });
</script>