<div class="footer flex">
    <a href="/" class="item {eq name='nav_alias' value='home'}on{/eq}">
        <i class="xls_icon xls_home"></i>
        <span class="title">首页</span>
    </a>
    <a href="/goods/index.html" class="item {eq name='nav_alias' value='classify'}on{/eq}">
        <i class="xls_icon xls_sort"></i>
        <span class="title">分类</span>
    </a>
    <a href="/sale/cart.html" class="item {eq name='nav_alias' value='cart'}on{/eq}">
        <i class="xls_icon xls_cart"></i>
        <span class="title">购物车</span>
    </a>
    <a href="/mine.html" class="item {eq name='nav_alias' value='member'}on{/eq}">
        <i class="xls_icon xls_member"></i>
        <span class="title">我的</span>
    </a>
</div>